<header class="p-1 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white"><i class="fa fa-home fa-2x"></i>Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white"><i class="fa fa-dashboard fa-2x"></i>Dashboard</a></li>
            </ul>
            <div class="text-end ml-auto">
                <button type="button" class="btn btn-outline-light" style="margin-left: -10%;margin-right: 10%;"
                    (click)="openComingSoonFeatureModal(content)">Login</button>
                <button type="button" class="btn btn-outline-light"
                    (click)="openComingSoonFeatureModal(content)">Sign-up</button>
            </div>
            <ng-template #content let-modal>
                <app-custom-modal [modalTitle]="comingSoonFeatureModalTitle" [modalBody]="comingSoonFeatureModalBody"
                    (closed)="modal.close()">
                </app-custom-modal>
            </ng-template>
        </div>
    </div>
</header>