<!-- Footer -->
<footer class="p-1 bg-dark text-white">

    <!-- Footer Elements -->
    <div class="container" style="max-height: 30px;">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/prabhu.nithin.7" class="text-white ">
                    <i class="fab fa-facebook-f  mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="mailto:prabhunithingollapudi007@gmail.com" class="text-white">
                    <i class="fab fa-google  mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/prabhunithingollapudi007/" class="text-white">
                    <i class="fab fa-linkedin  mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/g.prabhu.nithin/" class="text-white">
                    <i class="fab fa-instagram  mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/prabhunithingollapudi007" class="text-white">
                    <i class="fab fa-github  mr-md-5 mr-3 fa-2x"> </i>
                </a>
            </li>
        </ul>

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="max-height: 30px;">© 2021 Copyright:
        <a href="mailto:prabhunithingollapudi007@gmail.com"> Prabhu Nithin </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->